.roomCardContainer{
    text-align: justify;
    box-shadow: 3px 3px 10px 2px black;
    margin-bottom: 40px;
}
.bookCardFooter{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    gap: px;
}
a{
   text-decoration: none;
}
a:hover{
    color: red;
}
.bookCardFooter p{
    font-size: 16px;
}
.roomCardContainer:hover{
    transform: translateY(15px);
    transition: 0.5s;
}